.firstnames{
margin-top: revert;
color: #75777B;
font-size: 12px;
font-family: Inter;
font-weight: 500;
word-wrap: break-word
}



/* there is lot of space etween two p elements what should i do to reduct the space between them */