

  .body-figure-container {
    position: relative;
    height: 90vh;
    width: 38%;
    position: fixed;
    top: 5rem;
    right: 2%;
    z-index: 2;
  }
  
  .body-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  
  .sensor-icon {
    position: absolute;
    transform: translate(-50%, -50%); /* Centers the icon */
  }
  
  .outer-circle {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* Low opacity background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-circle {
    width: 20px;
    height: 20px;
    background-color: white; /* Solid white background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    color: black; /* Icon color */
  }
  
  @media (max-width: 600px) {
    .outer-circle {
      width: 40px;
      height: 40px;
    }
  
    .inner-circle {
      width: 24px;
      height: 24px;
    }
  
    .icon {
      font-size: 16px;
    }
  }
  