
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Rubik:wght@400;700&display=swap');

html,
body,
#root,
.app {
    height : 100%;
    width : 100%;
    font-family: "Inter", sans-serif;
}

.react-tel-input .form-control {
    font-size: 16px;
    background: black;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    width: 387px;
    outline: none;
    padding: 32.5px 14px 18.5px 58px;
    transition: box-shadow ease 4.25s,border-color ease .25s;
}